---
layout: portal
title: Kraus 1933
---

<div class="row">
  <div class="col-md-12">
    <h1>Dritte Walpurgisnacht</h1>

    <p>Karl Kraus dokumentierte und kommentierte vom März bis September 1933 die Auswirkungen der nationalsozialistischen Gewaltpolitik und ihre Propagandalügen.  Das erst posthum veröffentlichte Werk <em>Dritte Walpurgisnacht</em> gilt als die stärkste zeitgenössische Analyse des Beginns nationalsozialistischer Herrschaft.</p>

    <p>Das Manuskript zur <em>Dritten Walpurgisnacht</em> ist verschollen. Erhalten sind Notizen zu diesem Werk und Fahnen mit handschriftlichen Korrekturen.</p>

    <p>Auf dieser Website wird der Text der Fahnen in den kommenden Jahren schrittweise mit Stellenkommentar sowie einer Dokumentation seiner Genese bereitgestellt.</p>

    <p>In der ersten Stufe werden die schwer leserlichen Notizen mit Transkriptionen präsentiert.</p>
  </div>
</div>
