---
layout: page
title: Notizen
---
<div class="row">
  <div class="col-md-12">
    <h1>Notizen zur Dritten Walpurgisnacht</h1>

    <div class="media">
      <a href="HIN-176044.html">
        <img class="mr-3" src="https://www.digital.wienbibliothek.at/i3f/v21/2583325/full/200,/0/default.jpeg" alt="HIN-176044, 1">
      </a>
        <div class="media-body">
          <h2 class="mt-0">Konvolut 1</h5>
          <p>Die 146 sechslöchrigen beidseitig beschriebenen Taschenringbuch-Bätter
dieses Konvoluts werden in der Wienbibliothek unter der Signatur
<a href="http://aleph21-prod-wbr.obvsg.at/F/?func=direct&local_base=WBR02&doc_number=000103148">176.044</a> aufbewahrt. Die ursprüngliche Reihenfolge dieser Blätter
lässt sich nicht mehr rekonstruieren, da sie von Karl Kraus selbst
weder nummeriert noch datiert wurden.</p>
<p>
Die Nummerierung der einzelnen Blätter mit rotem Kugelschreiber stammt
aus der Wienbibliothek. Sämtliche Notizen sind vermutlich zwischen
April und August 1933 entstanden und enthalten Materialien zur
<em>Dritten Walpurgsinacht</em>: Abschriften aus Zeitungen, Stichwörter,
erste Formulierungen, Neologismen, Bemerkungen zu Hitler, Goebbels,
Goering, Benn und vielen anderen.</p>
<p>99 von diesen - zum Teil unleserlichen - Notizen konnten eindeutig
bestimmten Stellen der <em>Dritten Walpurgisnacht</em> zugeordnet werden.</p>
          <p>Das Konvolut <a href="HIN-176044.html">HIN-176044</a> ansehen.</p>
          <p><a href="https://likeanga.gitlab.io/kraus1933/material/HIN-176044/manifest.json"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/International_Image_Interoperability_Framework_logo.png" width="30px"/>Manifest</a></p>
      </div>
    </div>

    <div class="media">
      <a href="HIN-177198.html">
        <img class="mr-3" src="https://www.digital.wienbibliothek.at/i3f/v21/2583619/full/200,/0/default.jpg" alt="HIN-176044, 1">
      </a>
        <div class="media-body">
          <h2 class="mt-0">Konvolut 2</h5>
          <p>Die 207 - vereinzelt beidseitig beschriebenen - Blätter dieses
Konvoluts sind in einer A4 großen Mappe auf weißen A4-Seiten in der
Wienbibliothek unter der Signatur <a href="http://aleph21-prod-wbr.obvsg.at/F/?func=direct&local_base=WBR02&doc_number=000103698">Ib163.798</a> aufbewahrt. Die meistens
dieser Blätter sind kleiner als A5 und stammen aus dem Jahr 1933.
Einige Blätter dieses Konvoluts konnten auf die Jahre 1934, 1935 und
eventuell 1936 sowie auf die Jahre 1925, 1926 und 1927 datiert werden.
Die Notizen aus dem Jahr 1933 enthalten Zeitungsabschriften,
Stichwörter und erste Formulierungen zu den Themen der <em>Dritten
Walpurgisnacht</em>.</p>
          <p>Das Konvolut <a href="HIN-177198.html">HIN-177198</a> ansehen.</p>
          <p><a href="">IIIF Manifest</a></p>
      </div>
    </div>



  </div>
</div>
