---
layout: page
title: Projekt
---
<div class="row">
  <div class="col-md-12">
    <p>Die Webseite <em>Kraus 1933</em> – ein Projekt der <a href="https://www.oeaw.ac.at/ace/">Arbeitsstelle österreichischer Corpora und Editionen (ACE)</a> der Österreichischen Akademie der Wissenschaften – stellt Materialien zur <em>Dritten Walpurgisnacht</em> bereit.</p>
    <p>In den kommenden Jahren wird schrittweise der Text der Fahnen mit Stellenkommentar sowie einer Dokumentation seiner Genese Verfügbar gemacht.</p>

    <h2>Modul 1: <em>Notizen zur Dritten Walpurgisnacht</em></h2>
    <p>In einer ersten Ausbaustufe werden die schwer leserlichen Notizen mit Transkriptionen präsentiert.</p>

    <h3>Entzifferung und Transkription</h3>
    <ul>
      <li>Gerald Krieghofer</li>
    </ul>

    <h3>Mitarbeit</h3>
    <ul>
      <li>Bernhard Oberreither</li>
    </ul>

    <h3>Webdesign</h3>
    <ul>
      <li>Anna Haidegger (<a href="https://www.annahaidegger.com/">annahaidegger.com</a>)</li>
    </ul>

    <h3>Technische Umsetzung</h3>
    <ul>
      <li>Angelika Hechtl</li>
      <li>Ingo Börner</li>
    </ul>

    <h3>Technische Infrastruktur</h3>
    <ul>
      <li>Site Generator <a href="https://jekyllrb.com/">Jekyll</a></li>
      <li>IIIF Viewer <a href="https://projectmirador.org/">Mirador </a></li>
    </ul>

    <h3>Dank</h3>
    <p>Für die finanzielle Unterstützung bedanken wir uns bei der <a href="https://www.wien.gv.at/kultur/abteilung/">Kulturabteilung der Stadt Wien</a>.</p>
    <p>Die digitalen Faksimiles wurden von der <a href="https://www.wienbibliothek.at/">Wienbibliothek im Rathaus</a> zur Verfügung gestellt.</p>
  </div>
</div>
