---
layout: page
title: Home
---
<div class="row">
  <div class="col-md-12">
    <h1>Dritte Walpurgisnacht</h1>
    <h2>Heading 2</h2>
    <p>An der <em>Dritten Walpurgisnacht</em> arbeitete Kraus von Mai bis September 1933;
      sie sollte als Ausgabe der <a href="#">Fackel</a> erscheinen. Sie war schon gesetzt und die
      Druckfahnen durchgesehen, als Kraus sich dazu entschloss, auf die Veröffentlichung zu verzichten.</p>
    <p>Weniger die <em>persönliche Gefahr</em> ist hierfür ausschlaggebend gewesen als die Befürchtung, dass die Nationalsozialisten sich für eine Provokation, für welche sie nach aller Erfahrung größere Kreise als ihn allein verantwortlich machen würden, an unschuldigen Opfern rächen könnten. Er selbst bekannte, dass er „den schmerzlichsten Verzicht auf den literarischen Effekt geringer achtet als das tragische Opfer des ärmsten anonym verschollenen Menschenlebens“.[1] So kam es, dass Die <em>Dritte Walpurgisnacht</em> erst nach dem Zweiten Weltkrieg erscheinen konnte.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Notizen 1933</h1>
    <h2>Heading 2</h2>
    <p>Die Machtergreifung im benachbarten Deutschland schien Kraus die Sprache zu verschlagen. Erst im Oktober 1933 meldete er sich erneut mit der dünnsten Fackel zu Wort (vier Seiten), die er jemals herausgegeben hat. Neben einer Grabrede für Adolf Loos enthält sie nur das folgende Gedicht:</p>
    <blockquote>
      <p>
        Man frage nicht, was all die Zeit ich machte. Ich bleibe stumm;<br/>
        und sage nicht, warum.<br/>
        Und Stille gibt es, da die Erde krachte.<br/>
        Kein Wort, das traf;<br/>
        man spricht nur aus dem Schlaf.<br/>
        Und träumt von einer Sonne, welche lachte.<br/>
        Es geht vorbei;<br/>
        nachher war's einerlei.<br/>
        Das Wort entschlief, als jene Welt erwachte<br/>
      </p>
    </blockquote>
    <p>Diese Äußerung in Fackel Nr. 888 wurde von Bertolt Brecht in einem Gedicht kommentiert:</p>

    <h3>Listen</h3>
    <ol class="ordered-list">
      <li>Aufzählung Als der Beredte sich entschuldigte</li>
      <li>Aufzählung 2 Daß seine Stimme versage</li>
    </ol>
    <p>Die nationalsozialistischen Machthaber setzten Kraus’ Lebenswerk umgehend auf die „Liste des schädlichen und unerwünschten Schrifttums.</p>

    <figure class="figure">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Karl_Kraus.jpg/220px-Karl_Kraus.jpg" class="figure-img img-fluid" alt="Bild">
      <figcaption class="figure-caption">Karl Kraus</figcaption>
    </figure>

    <div class="card" style="width:300px">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Karl_Kraus.jpg/220px-Karl_Kraus.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Bild als Card</p>
      </div>
    </div>

    <p> Äußerung in Fackel Nr. 888 wurde von Bertolt Brecht.</p>





  </div>
</div>
