<!-- Breadcrumb -->
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Karl Kraus 1933</a>
    </li>
    <li class="breadcrumb-item {% if page.url == '/' %}active{% endif %}">
      <a href="index.html">Dritte Walpurgisnacht</a>
    </li>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
    <li  class="breadcrumb-item active">
        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    </li>
      {% else %}
      <li class="breadcrumb-item">
        <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
