<!-- Footer -->
<footer>
  <div class="container">
    <p class="text-center"><a href="projekt.html">Über das Projekt</a> | <a href="https://www.oeaw.ac.at/oeaw/impressum/">Impressum</a></p>
  </div>
  <!-- /.container -->
</footer>
