<!-- Portal Cards -->
<div id="portal-cards" class="row justify-content-center">

  <div class="col-lg-2 col-md-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Notizen</h4>
        <p class="card-text">Dritte Walpurgisnacht</p>
      </div>
      <a href="notizen.html"><img class="card-img-bottom" src="https://www.digital.wienbibliothek.at/i3f/v21/2583325/100,100,900,900/300,/0/default.jpg" alt=""></a>
    </div>
  </div>

  <div class="col-lg-2 col-md-4" style="opacity:0.8;">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Lesefassung</h4>
        <p class="card-text">Dritte Walpurgisnacht</p>
      </div>
      <!-- <img class="card-img-bottom" src="http://placehold.it/500x325" alt=""> -->
    </div>
  </div>

  <div class="col-lg-2 col-md-4" style="opacity:0.8;">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Druckfahnen</h4>
        <p class="card-text">Dritte Walpurgisnacht</p>
      </div>
      <!-- <img class="card-img-bottom" src="http://placehold.it/500x325" alt=""> -->
    </div>
  </div>

  <div class="col-lg-2 col-md-4" style="opacity:0.8;">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Textgenese</h4>
        <p class="card-text">Dritte Walpurgisnacht</p>
      </div>
      <!-- <img class="card-img-bottom" src="http://placehold.it/500x325" alt=""> -->
    </div>
  </div>

  <div class="col-lg-2 col-md-4" style="opacity:0.8;">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Kontexte</h4>
        <p class="card-text">Dritte Walpurgisnacht</p>
      </div>
      <!-- <img class="card-img-bottom" src="http://placehold.it/500x325" alt=""> -->
    </div>
  </div>






</div>
<!-- /.row -->
