<!-- Kooperationen -->
<div class="container">
  <div id="sponsors" class="row">
    <h2>Unser Dank für die Kooperation gilt</h2>
  </div>
  <div id="sponsor-logos" class="row">
    <!-- <a href="https://www.oeaw.ac.at/" title="Österreichische Akademie der Wissenschaften" alt="Logo ÖAW">
      <img src="https://www.oeaw.ac.at/typo3conf/ext/oeaw_redesign/Resources/Public/Icons/logo-lang-de.png"/>
    </a> -->
    <a href="https://www.wien.gv.at/kultur/abteilung/" title="Kulturabteilung der Stadt Wien">
      <img src="assets/images/Wien-Kultur-Logo.png"/>
    </a>
    <a href="https://www.wienbibliothek.at/" title="Wienbibliothek im Rathaus">
      <img src="assets/images/Wienbibliothek-Logo.png"/>
    </a>
  </div>
</div>
