/*
Karl Kraus 1933
Design Anna Haidegger; Umsetzung: Angelika Hechtl, Ingo Börner
 */

/* Farben: (sollte in Sass) */
/*
Rot 100%
color : #A21A17;
color : rgb(162, 26, 23);
Rot 60%
color : #C77674;
color : rgb(199, 118, 116);
Black 75%
color : #404040; color : rgb(64, 64, 64);
Black 60%
color : #666666; = 60% Black color : rgb(102, 102, 102);
Black 40%
color : #999999; = 40% Black color : rgb(153, 153, 153);
Black 5%
color : #F2F2F2; = 5% Black color : rgb(242, 242, 242);
*/


body {
  padding-top: 200px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;

}

/* Logo */
.navbar-brand img {
  height:140px;
}

/* Breadcrumb */

.breadcrumb {
  list-style: none;
  background-color:white;
  padding-top:60px;
  padding-bottom:60px;
  padding-left: 0px;
}



.breadcrumb-item a {
  color: #666666;
}

/* Divider (muss noch ersetzt werden) */
.breadcrumb-item+.breadcrumb-item::before {
    content: "\203A";
}

.breadcrumb .active {
  color: #A21A17;
  font-weight: bold;
}

.breadcrumb .active a {
  color: #A21A17;
  font-weight: bold;
}

/* Portal */

#portal-cards {
  margin-bottom: 60px;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#404040;
  border-bottom: 1px solid #F2F2F2;
}

.card {
  border-radius:0px;
}

.card-img-bottom {
  border-radius:0px;
}

.card-title {
  font-size : 20px;
  line-height : 26px;
  font-weight : bold;
  color : #404040;
  margin-bottom: 0px;
  margin-top:20px;
}

.card-title::before {
  content:url('../images/deko-signet.png');
  position:absolute;
  left:10px;
  top:20px;
}

.card-body {
  font-size : 16px;
  line-height : 26px;
  letter-spacing : 0.08px;
  font-weight : regular;
  color : #404040;
  margin-bottom: 10px;

}


/* Kooperationen */

#sponsors {
  padding-left: 25px;
}

#sponsors h2 {
  font-size : 16px;
  line-height : 26px;
  letter-spacing : 0.08px;
  color : #666666;
  margin-bottom: 15px;
}

#sponsors h2::before {
  content:url('../images/deko-signet.png');
  position:relative;
  left:5px;
  top:-10px;
  }

  #sponsor-logos {
    padding-top:30px;
    padding-left:25px;
    padding-bottom:60px;
  }

#sponsor-logos a img {
    height:60px;
    margin-right:100px;
  }


/* Media Items */
.media {
  margin-bottom:30px;
}

h1 + .media {
  margin-top:40px;
}

footer {
  height:80px;
  padding-top: 30px;
  padding-bottom:30px;
  background-color: #404040;
}

footer .container a {
  color:#999999;
  font-weight: light;
}

/* Typografie */

h1 {
  font-weight : bold;
  color : #A21A17;
  font-size : 26px;
  line-height : 32px;
}

h2 {
  font-weight : regular;
  font-size : 20px;
  line-height : 26px;
  color : #A21A17;
}

h3 {
  font-weight : regular;
  font-size : 16px;
  line-height : 26px;
  letter-spacing : 0.08px;
  color: #404040;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  font-size : 16px;
  line-height : 26px;
  letter-spacing : 0.08px;
  color : #666666;
  margin-bottom: 15px;

}

em {
  color : inherit;
}


/* Links */
a {
  color : #A21A17;
}

a:hover {
  color : #A21A17;

}

blockquote  {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left:20px;
  position:relative;
}

blockquote p {
  line-height : 22px;
  font-size : 14px;
}

blockquote:before {
  content:url('../images/deko-signet.png');
  position:absolute;
  display: inline;
  top:-10px;
  left: 0px;
}


/* ul, ol {
  font-size : 16px;
  line-height : 26px;
  letter-spacing : 0.08px;
  color : #666666;
  margin-bottom: 15px;
}
*/

.ordered-list {
  list-style: none;
  counter-reset: listcounter;
  margin: 0;
  padding: 0;
  padding-left:20px;
  font-size : 16px;
  letter-spacing : 0.08px;
  color : #666666;
  margin-bottom: 15px;
}
.ordered-list li {
  counter-increment: listcounter;
}

.ordered-list li::before {
  content: counter(listcounter)"." ;
  font-weight: bold;
  color : #A21A17;
  padding-right:10px;
}

.card-img-top {
  border-radius:0px;
}
