/*
Karl Kraus 1933
Design Anna Haidegger; Umsetzung: Angelika Hechtl, Ingo Börner
 */

/* Farben: (sollte in Sass) */
/*
Rot 100%
color : #A21A17;
color : rgb(162, 26, 23);
Rot 60%
color : #C77674;
color : rgb(199, 118, 116);
Black 75%
color : #404040; color : rgb(64, 64, 64);
Black 60%
color : #666666; = 60% Black color : rgb(102, 102, 102);
Black 40%
color : #999999; = 40% Black color : rgb(153, 153, 153);
Black 5%
color : #F2F2F2; = 5% Black color : rgb(242, 242, 242);
*/


body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
  box-shadow: 0 1px 2px -2px gray;

}

/* Logo */
.navbar-brand img {
  height:60px;
}


.mirador-viewer {
    margin-top: 86px;
    position:relative;
    height:80vh;
}


footer {
  position: absolute;
  width:100%;
  bottom:0px;
  padding-top: 5px;
  height:5vh;
  /* background-color: #404040; */
  background-color:white;
}

footer .container a {
  color:#999999;
  font-weight: light;
}

/* Typografie */

h1 {
  font-weight : bold;
  color : #A21A17;
  font-size : 26px;
  line-height : 32px;
}

h2 {
  font-weight : regular;
  font-size : 20px;
  line-height : 26px;
  color : #A21A17;
}

p {
  font-size : 16px;
  line-height : 26px;
  letter-spacing : 0.08px;
  color : #666666;
  margin-bottom: 15px;

}

em {
  color : #A21A17;
}
