<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/styles.css" rel="stylesheet">

  <!-- favicons -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon_32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon_96.png" sizes="96x96">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">


</head>

<body>

  {% include navigation.html %}

  <!-- Page Content -->
  <div class="container">
    {% include breadcrumb.html %}
    {{ content }}
  </div>
  <!-- /.container -->

  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
