<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/viewer.css" rel="stylesheet">

  <!-- favicons -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon_32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon_96.png" sizes="96x96">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">


  <!-- Mirador -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <script src="https://unpkg.com/mirador@alpha/dist/mirador.min.js"></script>



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <a class="navbar-brand" href="index.html">
        <img id="logo" src="assets/images/Karl-Kraus-1933_Logo.png"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for item in site.data.navigation %}
          <li class="nav-item {% if page.url == item.link %}active{% endif %}">
            <a class="nav-link" title="{{ item.name }}" href="{{ item.link }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
  </nav>


  <!-- Mirador -->
  <div id="mirador"/>
  {{ content }}

  <!-- /Mirador -->

  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
